.b3-banner {
  position: relative;
}

.b3-banner .b3-banner-text {
  position: absolute;
  bottom: 40px;
  left: 50px;
  right: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.b3-banner .b3-banner-text h1 {
  font-size: 32px;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  align-self: self-start;
  text-transform: uppercase;
}
.b3-banner .b3-banner-text p {
  background: #e5dfdf85;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 820px) {
  .b3-banner .b3-banner-text {
    gap: 12px;
  }
  .b3-banner .b3-banner-text h1 {
    font-size: 24px;
  }
  .b3-banner .b3-banner-text p {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .b3-banner .b3-banner-text {
    max-width: 500px;
    left: 20px;
    right: 20px;
  }
  .b3-banner .b3-banner-text h1 {
    /* display: none; */
    font-size: 20px;
  }
}
.first-text {
  display: none;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}
@media screen and (max-width: 550px) {
  .b3-banner .b3-banner-text p {
    display: none;
  }
  .b3-banner .b3-banner-text {
    bottom: 20px;
    font-weight: bold;
  }
  .first-text {
    display: block;
  }
}
/* SESSION 1 */
.b3-ss1-bang {
  display: flex;
  gap: 10px;
  margin: 40px 0 30px;
}
.b3-ss1-bang .audio1 {
  flex: 0 0 100px;
  max-width: 100px;
}

.b3-ss1-flex {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 40px 0;
}
.b3-ss1-flex-left {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  align-self: baseline;
}
.b3-ss1-flex-right {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
}

@media screen and (max-width: 600px) {
  .b3-ss1-bang {
    flex-direction: column;
    gap: 0;
    margin-top: 0;
  }
  .b3-ss1-bang .audio1 {
    transform: scale(0.6);
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 820px) {
  .b3-ss1-flex {
    flex-direction: column;
  }
  .b3-ss1-flex-left {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .b3-ss1-flex-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.b3-ss1-3-image {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 40px 0;
}
.b3-ss1-3-image .container-img {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}
/* SESSION 2 */
.b3-ss2-bang {
  display: flex;
  gap: 10px;
  margin: 40px 0 30px;
}
.b3-ss2-bang .audio2 {
  flex: 0 0 100px;
  max-width: 100px;
}
.b3-ss2-flex {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 40px 0;
  align-items: center;
}
.b3-ss2-flex-left {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
}
.b3-ss2-flex-right {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  align-self: baseline;
}

@media screen and (max-width: 600px) {
  .b3-ss2-bang {
    flex-direction: column;
    gap: 0;
    margin-top: 0;
  }
  .b3-ss2-bang .audio2 {
    transform: scale(0.6);
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 820px) {
  .b3-ss2-flex {
    flex-direction: column-reverse;
  }
  .b3-ss2-flex-left {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .b3-ss2-flex-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* SESSION 3 */
.b3-ss3-bang {
  display: flex;
  gap: 10px;
  margin: 40px 0 30px;
}
.b3-ss3-bang .audio3 {
  flex: 0 0 100px;
  max-width: 100px;
}
.b3-ss3-2-image {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 40px 0;
}

.b3-ss3-2-image .container-img {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  align-self: baseline;
}

@media screen and (max-width: 600px) {
  .b3-ss3-bang {
    flex-direction: column;
    gap: 0;
    margin-top: 0;
  }
  .b3-ss3-bang .audio3 {
    transform: scale(0.6);
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 650px) {
  .b3-ss3-2-image {
    flex-direction: column;
  }
  .b3-ss3-2-image .container-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* SESSION 4 */
.b3-ss4-bang {
  display: flex;
  gap: 10px;
  margin: 40px 0 30px;
}
.b3-ss4-bang .audio4 {
  flex: 0 0 100px;
  max-width: 100px;
}
.b3-ss4-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 40px 0;
}
.b3-ss4-flex-left {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  align-self: baseline;
}

.b3-ss4-flex-right {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .b3-ss4-bang {
    flex-direction: column;
    gap: 0;
    margin-top: 0;
  }
  .b3-ss4-bang .audio4 {
    transform: scale(0.6);
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 820px) {
  .b3-ss4-flex {
    flex-direction: column-reverse;
  }
  .b3-ss4-flex-left {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .b3-ss4-flex-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* SESSION 5 */
.b3-ss5-bang {
  display: flex;
  gap: 10px;
  /* align-items: center; */
  margin: 20px 0 30px;
}
@media screen and (max-width: 820px) {
  .b3-ss5-bang {
    align-self: start;
  }
}
.b3-ss5-bang .audio5 {
  flex: 0 0 100px;
  max-width: 100px;
}
@media screen and (max-width: 600px) {
  .b3-ss5-bang {
    flex-direction: column;
    gap: 0;
    margin-top: 0;
    align-items: flex-start;
  }
  .b3-ss5-bang .audio5 {
    transform: scale(0.6);
    margin-bottom: -10px;
  }
}

.b3-ss6 {
  background-color: #efefef;
  margin: 40px 0;
  padding: 35px 0;

  line-height: 1.7;
}
.b3-ss6-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 40px 0;
}
.b3-ss6-flex-left {
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
}

.b3-ss6-flex-right {
  align-self: baseline;
  flex: 0 0 calc(50% - 15px);
  max-width: calc(50% - 15px);
}

@media screen and (max-width: 820px) {
  .b3-ss6-flex {
    flex-direction: column-reverse;
  }
  .b3-ss6-flex-left {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .b3-ss6-flex-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.mySlides {
  display: none;
}

.author {
  padding-bottom: 60px;
  letter-spacing: 0.4px;
}
.author div {
  margin-bottom: 8px;
}
.author b {
  font-weight: 500;
}
